wifi_ssid: "ItBurnsWhenIP"
wifi_password: "hunter2"

# for when the devices is in the access point mode
ap_password: "SoIGuessItBroke"

# api_key must be a 32-byte base64 encoded string
api_key: "3y+4RtOKxVRwgjvmou4Ll7E4GKl+CglN45TlJBIg324="

ota_password: "UpdatesAreInTheAir"
